body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #86a5d9; */
  /* background-color: #107e7d; */
  /* background-color: #739e82; */
  background-color: #5dfdcb;
  backdrop-filter: brightness(70%);
}
